.page-body {
    font-family: "Montserrat", sans-serif;
    min-width: 1200px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.page-header {
    min-height: 1012px;
    background: #5E5D58 url("../images/sections-backgrounds/header-bg.jpg") center / cover fixed;
}

.navbar-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: rgba(94, 93, 88, 0.6);
}

.navbar-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strong-cyan-color {
    color: #18CFAB;
}

.navbar-header__logo {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 305px;
}

.navbar-header__logo-text {
    margin: 0 6px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.navbar-header__logo-text::before {
    content: "H";
    position: absolute;
    left: 13px;
    top: 18px;
    font-size: 40px;
    line-height: 31px;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-header-menu {
    display: flex;
}

.navbar-header-menu__item {
    position: relative;
    margin: 0 10px;
    padding: 48px 0;
}

.navbar-header-menu__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

.navbar-header-menu__link:hover {
    color: #18CFAB;
}

.navbar-header-menu__link:hover.navbar-header-menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: 0;
}

.page-header > .container {
    padding-top: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-subtitle {
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-title {
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-slogan {
    font-size: 34px;
    color: #D4D4D4;
    margin: 0;
}

.header-slogan + div {
    margin-top: 130px;
    display: flex;
}

.header-button {
    margin: 0 13px;
    border-radius: 4px;
    box-shadow: 0 -5px #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

.header-button__explore-now {
    background-color: #18CFAB;
    padding: 14px 20px;
}

.header-button__purchase-now {
    background-color: #00CBF6;
    padding: 14px 13px;
}

.options {
    padding: 8px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.options-item {
    text-align: center;
    background-color: #1C2A33;
    padding: 85px 0 100px 0;
}

.options-item:nth-child(even) {
    padding-top: 95px;
    background-color: #18CFAB;
}

.option-item__name {
    margin-top: 48px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
}

.options-item:nth-child(even) > .option-item__name {
    margin-top: 58px;
    color: #FFFFFF;
}

.services {
    padding: 85px 0 90px 0;
}

.section-title {
    position: relative;
    margin: 0 auto 100px;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.section-title::before, .section-title::after {
    content: "";
    display: block;
    width: 78px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
}

.section-title::before {
    left: calc(50% - 6px);
    transform: translateX(-50%);
    bottom: -24px;
}

.section-title::after {
    left: calc(50% + 6px);
    transform: translateX(-50%);
    bottom: -28px;
}

.services-tabs {
    display: flex;
}

.services-tabs__item {
    width: calc(100% / 6);
    background-color: #F8FCFE;
    padding: 20px 0;
    text-align: center;
    color: #717171;
    font-size: 16px;
    line-height: 39px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;
}

.services-tabs__item:not(:first-child) {
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid transparent;
}

.services-tabs__item__active {
    position: relative;
    background: #18CFAB;
    color: #FFFFFF;
}

.services-tabs__item__active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #18CFAB transparent transparent transparent;
}

.services-tabs__item:hover {
    border: 1px solid #18CFAB;
}

.services-content {
    margin-top: 23px;
}

.services-content__item:first-child {
    display: flex;
}

.services-content__item:not(:first-child) {
    display: none;
}

.services-content__item-text {
    margin: 3px 0 0 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.purchase {
    background: #1C2A33 url("../images/sections-backgrounds/purchase-bg.jpg") center / cover no-repeat;
    padding-top: 125px;
    text-align: center;
    min-height: 472px;
}

.purchase-title {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin: 0;
}

.purchase-subtitle {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12px;
    margin-bottom: 65px;
}

.purchase-button {
    display: inline-block;
    background-color: #18CFAB;
    border-radius: 4px;
    box-shadow: 0 -5px #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    padding: 16px;
}

.amazing-work {
    background-color: #E9EDEF;
    min-height: 1200px;
    padding: 100px 0;
    text-align: center;
}

.amazing-work-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.amazing-work-tabs__item {
    min-width: 80px;
    font-size: 14px;
    line-height: 30px;
    color: #717171;
    text-align: center;
    cursor: pointer;
    padding: 14px 15px;
    border: solid #DADADA;
    border-width: 1px 0 1px 1px;
}

.amazing-work-tabs__item:last-child {
    border-right: 1px solid #DADADA;
}

.amazing-work-tabs__item__active {
    border: 2px solid #18CFAB;
    padding: 13px 13px 13px 14px;
}

.amazing-work-tabs__item:last-child.amazing-work-tabs__item__active {
    border: 2px solid #18CFAB;
    padding-right: 14px;
}

.amazing-work-tabs__item__active + .amazing-work-tabs__item {
    border-left: none;
    padding-left: 16px;
}

.amazing-work-picture-grid {
    width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 25%);
}

.amazing-work-picture-grid > div > img {
    display: block;
}

.amazing-work-picture-grid > div:nth-last-of-type(-n + 24) {
    display: none;
}

.amazing-work-picture-grid > div:hover > img {
    display: none;
}

.amazing-work-picture-grid > div:hover > .amazing-work-picture-grid__hover-content {
    display: block;
}

.amazing-work-picture-grid__hover-content {
    display: none;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    border-top: 3px solid #18CFAB;
}

.amazing-work-picture-grid__hover-content-title {
    margin: 0;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.amazing-work-picture-grid__hover-content-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.amazing-work-button {
    display: inline-block;
    background-color: #18CFAB;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 23px 8px;
    margin-top: 70px;
}

.amazing-work-button > img {
    margin-right: 15px;
}

.amazing-work-loader-animation {
    display: none;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

@keyframes arrows {
    0%,
    100% {
        color: #C7CBCD;
        transform: translateY(0);
    }
    50% {
        color: #18CFAB;
        transform: translateY(20px);
    }
}

.amazing-work-loader-animation > span {
    color: #C7CBCD;
    font-size: 63px;
    --delay: 0s;
    animation: arrows 1s var(--delay) 2 ease-in;
}

.news {
    padding: 80px 0 126px;
    background-color: #FFFFFF;
}

.news-posts {
    display: grid;
    grid-template: auto auto / repeat(4, auto);
    grid-gap: 45px 36px;
}

.news-posts > article {
    position: relative;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
}

.news-posts__item {
    color: #717171;
}

.news-posts__item-date {
    position: absolute;
    right: 0;
    padding: 10px 12px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-size: 16px;
    line-height: 25px;
    background-color: #203E38;
    color: #FFFFFF;
}

.news-posts__item-title {
    position: relative;
    left: 20px;
    margin: 0;
    font-size: 18px;
    line-height: 39px;
}

.news-posts__item-info {
    position: relative;
    left: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    color: #777777;
}

.news-posts__item-info > span::before {
    content: "|";
    margin: 0 16px;
}

.news-posts > article:hover .news-posts__item-date {
    background-color: #18CFAB;
}

.news-posts > article:hover .news-posts__item-title {
    color: #18CFAB;
}

.testimonials {
    background: #1C2A33 url("../images/sections-backgrounds/testimonials-bg.jpg") center / cover no-repeat;
    padding: 100px 0;
    text-align: center;
    min-height: 850px;
}

.testimonials > .container {
    overflow: hidden;
}

.white-color {
    color: #FFFFFF;
}

.testimonials-data-list {
    display: flex;
    position: relative;
    width: 400%;
    transition: left 0.3s linear;
}

.testimonials-data-list__item {
    width: 1160px;
    padding-bottom: 50px;
}

.testimonials-blockquote-text {
    margin: 36px 0 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.testimonials-author-name {
    display: block;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
}

.testimonials-author-profession {
    color: #BBBBBB;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
}

.testimonials-author-photo {
    margin-top: 34px;
    box-shadow: 0 0 0 12px rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    height: 144px;
    width: 144px;
}

.testimonials-photo-box {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100px;
}

.testimonials-arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}

.testimonials-arrow-button:hover {
    background-color: #18CFAB;
}

.testimonials-arrow-button:hover path {
    fill: #FFFFFF;
}

.testimonials-photo-list {
    position: relative;
    display: flex;
}

.testimonials-author-photo__small {
    margin: 0 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    cursor: pointer;
}

.testimonials-photo-list__item__active {
    position: relative;
    top: -15px;
}

.gallery {
    padding: 110px 0 70px;
    background-color: #FFFFFF;
    text-align: center;
}

.gallery-grid img {
    display: block;
}

.gallery-grid-item {
    position: relative;
    margin-bottom: 20px;
    width: 32%;
}

div[data-position="relative"] {
    position: relative;
}

.gallery-grid__hover-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
}

.gallery-grid__hover-content > div {
    display: flex;
}

.gallery-grid-item:hover > .gallery-grid__hover-content {
    display: flex;
}

div[data-position="relative"]:hover > .gallery-grid__hover-content {
    display: flex;
}

.gallery-grid__hover-content__icon-box {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 25px;
    background-color: #14B9D5;
}

.gallery-grid-item.gallery-width3 {
    width: 31.3%;
}

.gallery-flex {
    display: flex;
    justify-content: space-between;
}

.gallery-grid-display {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    grid-gap: 3px;
}

.gallery-grid-display > div > img {
    width: 100%;
}

.gallery-button {
    display: inline-block;
    background-color: #18CFAB;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 23px 8px;
    margin-top: 30px;
}

.gallery-button > img {
    margin-right: 15px;
}

.gallery-loader-animation {
    display: none;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.gallery-loader-animation > span {
    color: #C7CBCD;
    font-size: 55px;
    --delay: 0s;
    animation: arrows 1s var(--delay) 2 ease-in;
}

.page-footer {
    background-color: #22353F;
    padding: 48px 0;
}

.copyright-footer {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
}